.graph-settings-container {
  position: relative;
  display: inline-block;
}

.settings-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.settings-icon {
  width: 60px;
  height: 60px;
  filter: invert(1); /* Inverte i colori dell'immagine */
}

.settings-label {
  position: absolute;
  top: 65px;
  left: 10px;
  width: 300px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.settings-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.settings-item span {
  font-size: 14px;
  color: #333;
}

.settings-item input {
  cursor: pointer;
}

.settings-item:last-child {
  margin-bottom: 0;
}

.settings-button.rotated {
  transform: rotate(35deg);
}

.separator {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 10px 0;
}
