#nodeInfo {
  margin-left: 20px;
  padding: 20px;
  background: linear-gradient(to bottom, #ffffff, #f0f0f0);
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  width: 400px;
  height: 800px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-sizing: border-box;
}

#nodeInfo::-webkit-scrollbar {
  width: 8px;
}

#nodeInfo::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

#nodeInfo::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 20px;
}

#nodeInfo::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}

#nodeInfo h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
  flex-shrink: 0;
}

.search {
  flex-shrink: 0;
}

#infoContent {
  flex-grow: 1;
  overflow-y: auto;
  font-size: 0.9em;
  color: #555;
  margin-top: 10px;
}

.node-info-section {
  margin-bottom: 12px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #ffffff;
}

.node-info-title {
  font-weight: bold;
  color: #333;
}

.node-info-value {
  color: #555;
  margin-left: 5px;
  max-width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  display: block;
  padding-bottom: 8px;
  padding-top: 4px;

}

.node-info-value::-webkit-scrollbar {
  height: 6px;
}

.node-info-value::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

.node-info-value::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 20px;
}

.node-info-value::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}

.node-info-section:hover {
  background-color: #f1f1f1;
}

mark {
  background-color: rgb(252, 252, 185);
  color: #000;
  font-weight: bold;
}

.node-info-search-container {
  flex-shrink: 0;
  margin-bottom: 10px;
}

.node-info-search-container .search-bar {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}